---
import { CollectionEntry, getCollection } from "astro:content"
import Layout from "@layouts/index.astro"
import FormattedDate from "@components/FormattedDate.astro"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<"blog">

const post = Astro.props
const { title, description, date, updatedDate, heroImage } = post.data
const { Content } = await post.render()
---

<Layout {...post.data}>
  <article class="adaptive-glass rounded-lg mx-auto max-w-7xl p-8 text-black dark:text-white">
    <div class="hero-image" transition:animate="fade">
      {heroImage && <img class="w-100 rounded-md" src={`../../${heroImage}`} alt="" />}
    </div>
    <div class="flex my-4 flex-col justify-start items-start gap-4">
      <div class="flex w-full justify-between">
        <h1 class="text-2xl">{title}</h1>
        <div class="flex text-xl flex-col items-end">
          <FormattedDate class="" date={date} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>
      <div class="prose">
        <Content  />
      </div>
    </div>
  </article>
</Layout>

<style>
</style>
