---
import { getCollection } from "astro:content"
import FormattedDate from "@components/FormattedDate.astro"
import Layout from "@layouts/index.astro"

const post = Astro.props
console.log("POST", post)

const posts = (
  await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })
).sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

console.log(posts[0])

const { Content } = await posts[0].render()
---

<Layout>
  <section class="adaptive-glass rounded-md mx-auto flex max-w-7xl justify-center p-8">
    <ul class="flex flex-wrap gap-8 list-none">
      {
        posts.map((post) => (
          <li class="p-2 rounded-md bg-neutral-900/10 w-[calc(50%_-_1rem)] *:transition first:w-full first:mb-4">
            <div>
              <a class="inline-block" href={`/blog/${post.slug}/`}>
                <img class="w-full rounded-lg" src={`../${post.data.heroImage}`} alt="" />
              </a>
              <div class="">
                <h4 class="dark:text-white text-2xl">{post.data.title}</h4>
                <FormattedDate class="text-xl dark:text-white/50" date={post.data.date} />
                {post.slug === posts[0].slug ? (
                  <div class="line-clamp-[15] mt-4">
                    <Content />
                  </div>
                ) : null}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  li:first-of-type > div {
    @apply w-full grid grid-cols-3;

    a ~ div {
      @apply col-span-1 py-4 px-8;
    }
    a:has(img) {
      @apply col-span-2;
    }
  }
</style>
