---
import Layout from "@layouts/index.astro"
import Logo from "../../public/logo.svg?raw"
---

<Layout>
  <div
    class="relative h-2/3 w-full max-w-7xl"
  >
    <section class="flex flex-col items-start justify-start text-red-500">
      <div>.domino</div>
      <Fragment set:html={Logo}  class="size-48 "/>
    </section>
  </div>
</Layout>
