---
import HeaderLink from "@components/HeaderLink.astro"
import ThemeIcon from "@components/ThemeIcon.astro"
---

<header class="header mt-2 sticky top-[-1px] z-20 max-w-7xl w-full mx-auto">
  <nav
    class="mx-auto mt-4 duration-300 transition rounded-full flex h-24 max-w-7xl items-center justify-start px-8"
  >
    <div
      class="*:text-black *:dark:text-white hidden space-x-2 font-humaneThin text-7xl tracking-wider md:block"
    >
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="block md:hidden">
      <svg
        class="size-8 *:text-black *:dark:text-white"
        data-slot="icon"
        fill="none"
        stroke-width="1.5"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"></path>
      </svg>
    </div>
    <hr class="m-12 h-px grow border-0 bg-black dark:bg-white" />
    <div class="*:text-black *:dark:text-white flex gap-2">
      <a
        href="https://fosstodon.org/@ndom91"
        target="_blank"
        class="outline-none focus-visible:ring-2 focus-visible:ring-neutral-800 focus-visible:dark:ring-white p-1 rounded-sm transition"
      >
        <span class="sr-only">Follow ndom91 on Mastodon</span>
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
          ><rect width="256" height="256" fill="none"></rect><path
            d="M160,224H72a32,32,0,0,1-32-32V72A32,32,0,0,1,72,40H184a32,32,0,0,1,32,32v72a32,32,0,0,1-32,32H40"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></path><path
            d="M128,136V104a24,24,0,0,0-48,0v32"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></path><path
            d="M176,136V104a24,24,0,0,0-48,0"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></path></svg
        >
      </a>
      <a
        href="https://twitter.com/ndom91"
        target="_blank"
        class="outline-none focus-visible:ring-2 focus-visible:ring-neutral-800 focus-visible:dark:ring-white p-1 rounded-sm transition"
      >
        <span class="sr-only">Follow ndom91 on Twitter</span>
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
          ><rect width="256" height="256" fill="none"></rect><polygon
            points="48 40 96 40 208 216 160 216 48 40"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></polygon><line
            x1="113.88"
            y1="143.53"
            x2="48"
            y2="216"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></line><line
            x1="208"
            y1="40"
            x2="142.12"
            y2="112.47"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></line></svg
        >
      </a>
      <a
        href="https://github.com/ndom91"
        target="_blank"
        class="outline-none focus-visible:ring-2 focus-visible:ring-neutral-800 focus-visible:dark:ring-white p-1 rounded-sm transition"
      >
        <span class="sr-only">Go to Nico's GitHub</span>
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
          ><rect width="256" height="256" fill="none"></rect><path
            d="M119.83,56A52,52,0,0,0,76,32a51.92,51.92,0,0,0-3.49,44.7A49.28,49.28,0,0,0,64,104v8a48,48,0,0,0,48,48h48a48,48,0,0,0,48-48v-8a49.28,49.28,0,0,0-8.51-27.3A51.92,51.92,0,0,0,196,32a52,52,0,0,0-43.83,24Z"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></path><path
            d="M104,232V192a32,32,0,0,1,32-32h0a32,32,0,0,1,32,32v40"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></path><path
            d="M104,208H72a32,32,0,0,1-32-32A32,32,0,0,0,8,144"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></path></svg
        >
      </a>
      <a
        href="https://dub.sh/ndomino-fullstack"
        target="_blank"
        class="outline-none focus-visible:ring-2 focus-visible:ring-neutral-800 focus-visible:dark:ring-white p-1 rounded-sm transition"
      >
        <span class="sr-only">Download Nico's Resume</span>
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
          ><rect width="256" height="256" fill="none"></rect><path
            d="M200,224H56a8,8,0,0,1-8-8V40a8,8,0,0,1,8-8h96l56,56V216A8,8,0,0,1,200,224Z"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></path><polyline
            points="152 32 152 88 208 88"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></polyline><line
            x1="96"
            y1="136"
            x2="160"
            y2="136"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></line><line
            x1="96"
            y1="168"
            x2="160"
            y2="168"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></line></svg
        >
      </a>
      <ThemeIcon />
    </div>
  </nav>
</header>

<script>
  const el = document.querySelector("header")

  const observer = new IntersectionObserver(
    ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
    { threshold: [1] },
  )

  observer.observe(el!)
</script>

<style>
  header.is-pinned nav {
    @apply rounded-full backdrop-blur-2xl dark:!bg-neutral-900/10 bg-neutral-100/10 border border-neutral-200/30 dark:!border-neutral-900/10 max-w-7xl w-full mx-auto;
  }
</style>
