---
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import { ShaderBackground } from "@components/ShaderBackground.jsx"
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts"

import { ViewTransitions } from "astro:transitions"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body class="min-h-screen overflow-hidden bg-zinc-900">
    <div
      class="dark:bg-neutral-800/50 bg-neutral-200/30 h-screen absolute top-0 left-0 w-full pointer-events-none"
    >
      <ShaderBackground client:only="react" transition:persist />
    </div>
    <div class="flex flex-col h-screen w-screen overflow-y-auto">
      <Header title={SITE_TITLE} transition:persist />
      <main class="flex flex-col items-center flex-grow">
        <slot />
      </main>
      <Footer />
      <div
        class="fixed top-0 left-0 w-full h-full bg-transparent pointer-events-none shadow-[inset_0_-0px_0px_16px_rgba(0,0,0,1)]"
      >
      </div>
    </div>
    <script>
      document.documentElement.classList.add("dark")

      window.localStorage.setItem("theme", "dark")
    </script>

    <script>
      document.addEventListener("astro:after-swap", () => {
        document.documentElement.classList.add("dark")
      })
    </script>
  </body>
</html>
